<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia de peliculas c:</title>
</head>
<body>
    <p style="text-align:center;"><img src="static/imagenes/cine.png"><br>
    <h1>Hola</h1>
    <h2>vamos a jugar !!!</h2>
    <h4> Instrucciones de juego: <br>Bienvenido al juego "¿De qué película es esta frase?". En este juego, te desafiaremos a poner a prueba tus conocimientos sobre algunas de las citas más famosas del cine.

        En cada nivel, se te presentará una frase de una película. Tu objetivo es seleccionar la opción correcta de entre tres posibles películas. Cada respuesta correcta te llevará al siguiente nivel, donde se te presentará una nueva cita para adivinar.<h4>
    <form action="/juego" method="post">        
        <label for="fname">Introduzca su nombre:</label>
        <input type="text" id= nombre name= nombre ><br><br>
        <input type="submit" id= nombre name= nombre  value= "Comenzar Juego"  ><br><br>
    </form>
    
    <form action="/historial" method="get">
        <input type="submit" id= nombre name= nombre  value= "Ver historial"  ><br>

    </form>
   

    
</body>
</html>

